---
title: AMMSDA
emoji: 🔬
colorFrom: blue
colorTo: green
sdk: gradio
sdk_version: 4.0.0
app_file: app.py
pinned: false
---
groq
langchain
langchain-community
langchain-groq
faiss-cpu
pypdf2
python-dotenv
sentence-transformers
gradio
networkx
matplotlib
pandas